
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;

}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode article {
  background-color: black;
  color: white;
}

.darkbutton {
    position: relative;
    left: 600px;
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  background-image: url(../IMAGES/banner.jpg);
}

nav {
  margin-left: 390px;
      width: 80%;
    height: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

a:link, a:visited {
  
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: black;
}

article {
  float: left;
  padding: 20px;
  background-color: #f1f1f1;
  width: 80%;
}

article h1 {
  text-align: center;
    font-size: 26px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=button] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=button]:hover {
  background-color: red;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


section:after {
  content: "";
  display: table;
  clear: both;
}

aside {
  float: right;
  
  padding: 20px;
  width: 20%;
}


footer{
  background-image: url(../IMAGES/banner.jpg); 
  padding: 10px;
  text-align: center;
  color: white;
  display: block;
  width: 100%;
}

footer p {
  text-align: initial;
}




@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  aside {
    display:none;
  }
  article video{
    left: 0px;
    width: 92%;
  }

}